.action-confirm {
    position: absolute;
    left: auto;
    right: auto;
    top: 5px;
    border: 1px solid black;
    width: 220px;
    height: 4em;
    text-align: center;
    vertical-align: middle;
}
